# Introduction of Python Basic Data Types 
Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets

# Data types 
Numbers

In [2]:
x=2+2
x

4

In [3]:
x=2**3
x

8

In [4]:
x=2/5
x

0.4

In [5]:
x=2
y=4
x+y

6

In [ ]:
print(x)

In [ ]:
x

In [6]:
type(x)

int

In [7]:
# Multiple assignments
b = c = d = 10 # 
print (b,c,d)
e, f, g = 12,'23',12.01
print(e,f,g)

10 10 10
12 23 12.01

In [8]:
type(f)

str

In [9]:
f+"hello"

'23hello'

# Strings

#strings 

'my name is ali'

In [ ]:
"my name is ali"

In [4]:
x='hello'
x
print(x)

hello

In [5]:
"i can't do it"

"i can't do it"

In [7]:
num =124563456
name='ali'
'my name is {} and my number is {}'.format(name,num)

'my name is ali and my number is 124563456'

In [ ]:
type(x)

In [10]:
s = 'hello world'

In [11]:
# Capitalize first word in string
s.capitalize()

'Hello world'

In [12]:
s.upper()

'HELLO WORLD'

In [ ]:
s.lower()

In [13]:
s.count('o')

2

In [ ]:
s.find('o')

In [14]:
'hello\thi'.expandtabs()

'hello   hi'

In [ ]:
s.isalnum()

In [15]:
s.isalpha()

False

In [10]:
p='ali'
p.isalpha()

True

In [16]:
s.islower()

True

###### istitle() will return True if S is a title cased string and there is at least one character in S, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [ ]:
s.istitle()

In [ ]:
s.endswith('d')

In [ ]:
s = """hello
m
ert
l
e"""
print(s)

# string Slicing
Slicing is used to extract a subsequence out of your sequence, and has a special notation in Python:
var[lower:upper:step]
The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is [lower, upper). If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.
The step argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.
As an example, let's extract elements 1 through 3:

In [ ]:
s='hello'
s[0]

In [ ]:
s[4]

In [ ]:
s[0:]

In [ ]:
s[:3]

In [ ]:
s[:2]

In [ ]:
s[0:3]

In [ ]:
p= "hello UMT"
p

In [ ]:
p.isdecimal()

In [ ]:
p.split()

In [ ]:
len(p)

In [ ]:
p.upper()

In [ ]:
p.replace("hello","MY")

In [ ]:
p.replace("hello UMT","great")

Built-in Reg. Expressions
Strings have some built-in methods that can resemble regular expression operations. We can use split() to split the string at a certain element and return a list of the result. We can use partition to return a tuple that includes the separator (the first occurrence) and the first half and the end half.

In [ ]:
s.split('e')

In [ ]:
s.partition('e')

# list
List in Python are an ordered sequence of any kind of object, and are one of the workhorse data structures.
List Objects
You create a list by putting square brackets around a comma-separated list of other Python items

In [ ]:
my_list=['a','b','c']
my_list

In [ ]:
lst = [1, 2.0, 3, 'my']
print (lst)

In [ ]:
lst * 3

In [ ]:
lst + lst

In [ ]:
lst[0]

In [ ]:
lst[0:]

In [ ]:
len(lst)

In [ ]:
type(lst)

In [ ]:
lst.pop(3)
lst

In [ ]:
del lst[2]
lst

In [ ]:
1 in lst

In [ ]:
2 in lst

In [ ]:
l = [1,2,3]

In [ ]:
l.append(4)
l

In [ ]:
l.count(2)

##extend
Many times people find the difference between extend and append to be unclear. So note:

**append: Appends object at end**

In [ ]:
x = [1, 2, 3]
x.append([4, 5])
print (x)

In [ ]:
x = [1, 2, 3]
x.extend([4, 5])
print (x)

In [ ]:
# Place a letter at the index 2
l.insert(2,'inserted')
l

In [ ]:
l.remove('inserted')
l

In [ ]:
l.reverse()
l

In [ ]:
l.sort()
l

In [ ]:
nest=[1,2,[4,5]]
nest

In [ ]:
nest[2]

In [ ]:
nest[2][0]

# set 
# Python also provides the set data structure, which can be created using curly brackets.Collection of unique things

In [ ]:
a={1,3,4,6,'g'}
a

In [ ]:
{1,1,1,2,2,2,3,3,3}

In [ ]:
b = {2, 3, 4, 5}
b

In [ ]:
a.add(9)
a

In [ ]:
a & b

In [ ]:
a | b

In [ ]:
a ^ b

# Dictionaries
If you're familiar with the computer science "hash" or "map" data structures, a dictionary is essentially the Python equivalent of those.
For those unfamiliar with Python dictionaries, we can use an actual dictionary as a mental model. In a dictionary you have words, and those words have definitions that are associated with them. You might have multiple definitions, but they are all associated with one word's entry in the dictionary.
This maps to the data structure very well: each entry is a key-value pair, where the keys are the words, and the values are the definitions. If there are multiple definitions, you might instead have a list of definitions instead of a single definition for the value, but the idea is the same.
So in Python we can create an empty dictionary with a pair of braces (curly brackets):

In [ ]:
d={'key1':'value','key2':123}
d

In [ ]:
d[0]

In [ ]:
d['key2']

In [ ]:
d={'k1':[1,2,3]}
d

In [ ]:
d['k1']

In [ ]:
d['k1'][2]

In [ ]:
#Dictionary Nested with other dictionary 
d={'k1':{'innerkey':[1,2,3]}}
d['k1']

In [ ]:
d['k1']['innerkey']

In [ ]:
d['k1']['innerkey'][1]

In [ ]:
pets = {'dogs':5, 'cats':4}
pets

In [ ]:
len(pets)

In [ ]:
pets['dogs']

In [ ]:
pets['dogs'] += 2
pets

In [ ]:
pets['fox'] = 3
pets

In [ ]:
pets.keys()

In [ ]:
pets.items()

In [ ]:
pets.values()

In [ ]:
'cats' in pets

In [ ]:
'cats' not in pets

In [ ]:
student = {}
student['1']='Ahmad'
student['2']='Ali'
student

student

# Accessing items with get()
You can instead access values with the get() method which has a little more capability. Get returns the value associated with a key, like indexing, but if the key doesn't exist it doesn't raise an error, but instead returns a default value None.

In [ ]:
print (student.get('2'))

In [ ]:
print (student.get('1','yes'))
print (student.get('3','yes'))

In [ ]:
dir(pets)

# next task

# Tuple 
Declared with parentheis tuple is immutable

In [ ]:
t= (1,2,3)
t[0]

In [ ]:
t[0]='new'

In [ ]:
(7, 1, 2) < (0, 3, 4)

In [ ]:
point = (2.4, 5.7, 9.0)  # tuple
x, y, z = point
print(x,',',y, ',', z)

In [ ]:
t.count

# Comparison Operators
result will be get true or false

In [ ]:
1>2

In [ ]:
3>2

In [ ]:
1!=3

In [17]:
'hi'=='bye'

False

In [ ]:
(1<2)and (2<3)

In [ ]:
(1<2)or (2<3)or(1==1)