In [ ]:
# conventional way to import pandas
import pandas as pd

In [ ]:
# read a dataset of Chipotle orders directly from a URL and store the results in a DataFrame
#orders = pd.read_table('http://bit.ly/chiporders')

# read a dataset of Chipotle orders directly from a file stored on disk and store the results in a DataFrame
orders = pd.read_table('data/chipotle.tsv')
type(orders)

In [ ]:
orders.head()

In [ ]:
pd.read_table('data/movieusers.tsv') # seprator '|' is not defined

In [ ]:
pd.read_table('data/movieusers.tsv',sep='|').head() # first row was selected as header

In [ ]:
pd.read_table('data/movieusers.tsv',sep='|', header=None) # default numbers are assigned to each column

In [ ]:
# defining user defined Column names
ucol = ['id','age','gender','occupation','code']
user = pd.read_table('data/movieusers.tsv',sep='|', header=None,names=ucol)

In [ ]:
user.head()
# Please read skiprow and skipfooter parameter of read_table

Two important objects in Pandas 1) Data Frame (consist of rows and cols) 2) Panda Series (cols)

In [ ]:
# if we want to read only selected columns
ufo = pd.read_csv('data/ufo.csv', usecols=['City','State'])
#### OR ####
#ufo = pd.read_csv('data/ufo.csv', usecols=[0,3])
ufo.head()

In [ ]:
# to read only top rows
ufo = pd.read_csv('data/ufo.csv', nrows=4)
ufo.head()

In [ ]:
type(ufo)

In [ ]:
# to select a particular series from DF. its case sensitive
ufo["City"] # it returns first thirty and last thirt

In [ ]:
type(ufo["City"])

In [ ]:
ufo.City # Dot notation can also be used for series

Important Note: When ever a series is added to DF, it automatically becomes attribute of DF

In [ ]:
# how to select series of Colors Reported?
# if there is space in the name then dot notation will not help and col name should not match with built in fuction like shape, head etc
ufo['Colors Reported']

In [ ]:
# to concatenate two series
#'abd'+'dee'
ufo.City + ' , ' + ufo.State

In [ ]:
# to create a new series in DF don't use do notation, For assignment it is necessary that we should use barcket notation
ufo['Location'] = ufo.City + ' , ' + ufo.State
ufo.head()

In [ ]:
ufo.dtypes # example of attribute

In [ ]:
# please read the data from imdb_1000 and calculate sum of star_rating and max duration of movie ???

In [ ]:
# shows statistics of numeric colums
ufo.describe() # example of method

In [ ]:
ufo.shape # example of attribute

Rename Columns?

In [ ]:
ufo.columns

In [ ]:
ufo.rename(columns={'Colors Reported': 'Colors_Reported', 'Shape Reported':'Shape_Reported'}) 
ufo.columns

In [ ]:
# inplace = True to show the impact in existing DF
ufo.rename(columns={'Colors Reported': 'Colors_Reported', 'Shape Reported':'Shape_Reported'},inplace=True) 
ufo.columns

In [ ]:
ufo.columns

In [ ]:
# Renaming the columns names while reading
#import pandas as pd
mycol = ['city','color reported', 'shape reported','state','time', 'location']
ufo = pd.read_csv('data/ufo.csv',names=mycol)
ufo.head()

In [ ]:
# Assume you have thousands of col with spaces in between
ufo.columns = ufo.columns.str.replace(' ','_')
ufo.columns

Remove Columns from DF

In [ ]:
# use axis = 1 to drop column
ufo.drop('shape_reported', axis=1) # this will not effect the current object i.e., ufo. You can confirm this by using ufo.columns command

In [ ]:
ufo.head()
ufo.drop('location', axis=1, inplace=True)

In [ ]:
ufo.columns

In [ ]:
ufo.head()

In [ ]:
# to drop multiple columns, use list of strings
ufo.drop(['city', 'time'], axis=1, inplace=True)
ufo.head()

In [ ]:
# use axis = 0 to drop rows
ufo.drop([0,1],axis=0,inplace=True)

In [ ]:
ufo.head()

how to sort DF or Series

In [ ]:
import pandas as pd
movies = pd.read_csv('data/imdb_1000.csv')
movies.head()

In [ ]:
#movies.title.sort_values(ascending=False)
movies['title'].sort_values() # it returns panda series and default is assending order
#movies['title'].sort_values(ascending=False)

In [ ]:
# sorting entire DF on a particular topic
movies.sort_values('title',ascending=False)

In [ ]:
# sorting by mulitple columns
#movies.head()
movies.sort_values(['star_rating','duration'])

# select movies with duration > 200 ???

## how we can more simplify the above code???

In [ ]:
#movies[movies.duration>=200]
#movies[movies.duration>=200].duration
#movies[movies.duration>=200]['duration']
movies.loc[movies.duration>=200, 'duration'] # recommended approach

## Apply Multiple filters ???

In [ ]:
#movies[movies.duration>=200 & movies.genre=='Crime'] # this will not work
movies[(movies.duration>=200) & (movies.genre=='Crime')]

## show the which contains record of 'Drama','Crime','Action' genere ???

In [ ]:
# if we use multiple condition on single attribute 
#movies[(movies.genre=='Drama') | (movies.genre=='Crime') | (movies.genre=='Action')]
# or we can use isin method
movies[movies.genre.isin(['Drama','Crime','Action'])]

In [ ]:
drinks = pd.read_csv('data/drinks.csv')
drinks.dtypes
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

In [ ]:
#drinks.index
#drinks.columns
#drinks.loc['Brazil','beer_servings']
#drinks.index.name = None # removing the word "country" from rows#
drinks.head()

In [ ]:
drinks = pd.read_csv('data/drinks.csv')
drinks.set_index('country', inplace=True)
people = pd.Series([3000000, 85000], index=['Albania', 'Andorra'], name='population')
people

In [ ]:
(drinks.beer_servings * people).head()

In [ ]:
# concatenate a series to DF
pd.concat([drinks,people], axis=1)

String Methods in PD

Change Data types of series

In [ ]:
drinks.dtypes

In [ ]:
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

In [ ]:
# how to change the data type while reading CSV
drinks = pd.read_csv('data/drinks.csv',dtype={'beer_servings':float})
drinks.dtypes

## calculate the mean of 'beer_serving' w.r.t Asia ???
## calculate the mean of 'beer_serving' w.r.t continet ???

#Group By

In [ ]:
drinks[drinks.continent=='Asia'].beer_servings.mean()
#drinks[drinks.continent=='Europe'].beer_servings.mean()
#drinks[drinks.continent=='Africa'].beer_servings.mean()
#drinks.groupby('continent').beer_servings.mean()
#drinks.groupby('continent').beer_servings.max()
#drinks.groupby('continent').beer_servings.min()
#drinks.groupby('continent').beer_servings.agg(['count','max','min','mean'])
#drinks.groupby('continent').mean() # if we don't specify col then it will create mean of all cols
#drinks.groupby('continent').max()

In [ ]:
drinks.head()

Handeling missing values

In [ ]:
import pandas as pd
ufo = pd.read_csv('data/ufo.csv')
ufo.tail()

In [ ]:
ufo.isnull().tail()

In [ ]:
ufo.notnull().tail()

In [ ]:
ufo.isnull().sum() # returns no. of sums of missing values

In [ ]:
ufo[ufo.City.isnull()]
#ufo[ufo.City.notnull()]

In [ ]:
# how to deal with missing value, there are many possible solution and some of them are given below
ufo.shape

In [ ]:
ufo.dropna(how='any').shape # drops all rows that contains ANY of five columns have missing value

In [ ]:
ufo.dropna(how='all').shape # drops all rows that contains ALL of five columns have missing value

In [ ]:
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape # drops all rows that contains ANY of two columns have missing values

In [ ]:
ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape # drops all rows that contains All of two columns have missing values

In [ ]:
#ufo['Shape Reported'].value_counts()
ufo['Shape Reported'].value_counts(dropna=False)

In [ ]:
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True) # replace NaN with Various,
#ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True, method=None) # replace NaN with Various,

In [ ]:
ufo['Shape Reported'].value_counts(dropna=False)

In [ ]:
ufo.head(3)

In [ ]:
ufo.loc[0,:] # zeroth row and all columns

In [ ]:
ufo.loc[[0,1,2],:] # return 0,1 and 2nd row with all cols

In [ ]:
ufo.loc[0:2,:] 
# or
ufo.loc[0:2] # its not recommended

In [ ]:
# for cols
ufo.loc[:,'City']
ufo.loc[:,['City','State']]
ufo.loc[:,'City':'State'] # all col between City and State

In [ ]:
ufo[ufo.City=='Alma']

In [ ]:
ufo.loc[ufo.City=='Alma',:] # label based indexing

How to DF smaller and Faster

In [ ]:
ufo.info()

In [ ]:
len(sorted(ufo.State.unique()))
#len(sorted(ufo.City.unique()))
#ufo.City.unique()

In [ ]:
ufo.dtypes

In [ ]:
mydf = pd.DataFrame({'Roll no':[1,2,3,4,5],'Name':['Ali','Ahmed','Qasim', 'Ayesha','Aleena'],'GPA':['good','good','very good','good','Excellent']})
mydf.sort_values('GPA')

In [ ]:
mydf['GPA'] = mydf.GPA.astype('category', categories=['good', 'very good', 'Excellent'], ordered=True)
mydf.GPA
mydf.sort_values('GPA')

In [ ]:
mydf.loc[mydf.GPA > 'good',:] # we can condition on 'good' now becuase of above statement

In [ ]:
import pandas as pd
movies = pd.read_csv('data/imdb_1000.csv')
movies.head()

In [ ]:
movies.content_rating.isnull().sum() #counting the missing values in the 'content_rating'

In [ ]:
movies[movies.content_rating.isnull()] # rows containing null in 'content_rating'

In [ ]:
movies.content_rating.value_counts(dropna=False) # unique values of Content Rating

In [ ]:
movies[movies.content_rating=='NOT RATED'].head() # to show "NOT RATED" rows

In [ ]:
movies[movies.content_rating=='NOT RATED'].content_rating.head() # then, select the 'content_rating' Series from those rows

In [ ]:
# the 'content_rating' Series has not changed
movies.content_rating.isnull().sum()

In [ ]:
# replace the 'NOT RATED' values with 'NaN' (does not cause a SettingWithCopyWarning)
movies.loc[movies.content_rating=='NOT RATED', 'content_rating'] = np.nan

In [ ]:
# this time, the 'content_rating' Series has changed
movies.content_rating.isnull().sum()

In [ ]:
top_movies = movies.loc[movies.star_rating >= 9, :]
top_movies

In [ ]:
top_movies # 'top_movies' DataFrame has been updated

In [ ]:
movies.head(1) # 'movies' DataFrame has not been updated

In [ ]:
# explicitly create a copy of 'movies'
top_movies = movies.loc[movies.star_rating >= 9, :].copy()

In [ ]:
# pandas now knows that you are updating a copy instead of a view (does not cause a SettingWithCopyWarning)
top_movies.loc[0, 'duration'] = 150

In [ ]:
# 'top_movies' DataFrame has been updated
top_movies

display options

In [ ]:
movies # show only sixty values

In [ ]:
# check the current setting for the 'max_rows' option
pd.get_option('display.max_rows')

In [ ]:
# overwrite the current setting so that all rows will be displayed
pd.set_option('display.max_rows', None)

In [ ]:
movies # now show all rows

In [ ]:
# reset the 'max_rows' option to its default
pd.reset_option('display.max_rows')

In [ ]:
movies

In [ ]:
# the 'max_columns' option is similar to 'max_rows'
pd.get_option('display.max_columns')